<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imobpay.base.dao.TbvPayjnlsDao">


	<select id="selectById" parameterType="tbTbvPayjnlsInfo"
		resultType="tbTbvPayjnlsInfo">
		SELECT
		TP.FEE,TP.AMOUNT,TP.TAACCOUNT,TP.LOCALDATE,TP.LOCALTIME,TC.OPENID,TP.TID,TP.ACCOUNTNO,TP.ISSUING_AMOUNT as issuingAmount,TD.FD_FEE as fdfee,TP.PAYTYPE,TP.BRANCHID
		FROM TBV_PAYJNLS TP
		INNER JOIN TBV_CUSTOMER TC ON TP.TID = TC.TID
		LEFT JOIN qtfund.tdflist TD ON TP.LOCALDATE = TD.FS_ORIGDATE
		AND TP.LOCALTIME = TD.FS_ORIGTIME 
		WHERE TP.ORDER_ID = #{orderId,jdbcType=VARCHAR} and ROWNUM = 1 
	</select>
</mapper>